*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;   
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hhidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(213, 252, 121, 0.452) 0%, rgba(150, 230, 161, 0.521) 100%), url(../Img/Fondo/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    color:rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    text-align: center;

}

.menu{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #ffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6 rgba(0, 0, 0, 0.521);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*transition: transform .3s ease-in-out;*/
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.521);
}
/*header:hover .menu-navegacion{
    transform: translate(110%)
} */
.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.Titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.subtituloo{
    font-weight: 300;
    font-size: 25px;
}

/**/

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

/*
clase: para los tipos de nutricion
.tipos-dieta{
    display: flex; para que esten uno al lado del otro
    justify-content: space-evenly; igualmente espaciados
    align-items: center; para que queden centrados
    flex-wrap: wrap;
}
.cont-tipos-dieta{
    width: 30%
    text-align: center;
    margin-bottom: 20px;
}
.cont-tipos-dieta img{
    width: 80%;
    display: block;
    margin:0 auto;
    font-weigth: 400;
}

*/
footer{
    background: #84fab0;
    padding-bottom: 0.1px;
    border: 1px solid #000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    font-size: 30px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: rgb(0, 0, 0);
    margin-bottom: 60px;
}

/*adaptabilidad a celulares*/
@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }
    .Titulo{
        font-size: 40px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    /*revisar el tamaño de footer para celular*/
    .footer-content{
        justify-content: space-evenly;
        width: 80%;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }
    .menu{
        top: 20px;
        right: 20px;
    }

    .Titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
    }
    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    /*revisar el tamaño de footer para celular*/
    .footer-content{
        justify-content: space-evenly;
        width: 80%;
    }

    .contact-us{
        text-align: center;
        width: 90%;
        margin-bottom: 40px;
    }
}